@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PeydaWeb';
    src: url('./font/woff2/PeydaWeb-Medium.woff2') format('woff2'),
    url('./font/woff/PeydaWeb-Medium.woff') format('woff'),
    url('./font/eot/PeydaWeb-Medium.eot') format('embedded-opentype'),
    url('./font/ttf/Peyda-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PeydaWeb';
    src: url('./font/woff2/PeydaWeb-Bold.woff2') format('woff2'),
    url('./font/woff/PeydaWeb-Bold.woff') format('woff'),
    url('./font/eot/PeydaWeb-Bold.eot') format('embedded-opentype'),
    url('./font/ttf/Peyda-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



body {
    font-family: 'PeydaWeb';
}

.bcg-hami {
    background-image: url('./images/background-01.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
   /* width: 384px;
    height: 500px;*/
}